.servico .jumbotron{

    background-color: #1CA8C9;

}

.servico .image{
    margin: 20px;
}

.servico .form {
    background-color: white;
    display: block;
    margin: auto;
    width: 736px;
    border-radius: 20px;
}

.servico .form label {
    font-size: 16px;
    font-weight: bold;
    color:#FF4D00;
}

.servico .title {

    font-size: 16px;
    font-weight: bold;
    margin-left: 25%;
    margin-bottom: 15px;;    
    color:white;
}


.servico .p {
    font-size: 16px;
    font-weight: bold;
    color:#FF4D00;
}

.servico .h3{
    font-size: 16px;
    font-weight: bold;
    color:#FF4D00;
    margin-bottom: 0px;
    padding: 0px;
    
   
}

.servico .checkbox1{
    background-color: gray;
   float: left;
    
}

.servico .checkbox2{
    background-color: green;
    float: left;
    
}

.servico .file{
    background-color: rebeccapurple;
}


.servico button{

    height: 40px;
    width: 20%;
    margin-right: 10px;
    border-radius: 10px;
    float: right;
    
}

.servico .footer{
    background-color:#1CA8C9;
    height: 130 px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    margin: 0 px;
    padding: 15px;
    width: 100%;
    
    
   
}

.servico .footer p{
    color:white;
    font-size: 10px;
    
}

.servico .alert{
    display: flex;
    align-items: flex-start
   
    
}

.servico .alert img{
    width: 32px;
    height: 32px;
}

.servico .btn{
    background-color:#FF4D00;
    color: white;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -60px;
    
}


.servico .row{
    background-image:url(../../assets/imagens/paraisopolisfoto.png) ;
    background-repeat: no-repeat;
    bottom: 0%;
    border-radius: 0px;
    left: 0%;
    right: 0%;
    margin-top: -32px;
    background-size: cover;
   
}

