
.header-servico {
    background-color: #1CA8C9;
    margin-bottom: 0px ;
}

.form {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 30px 30px 30px;
    margin-bottom: -30px;
}

.form h3 {
    color:  #FF4D00;
}

.servico .image button {
    background: transparent;
    border: none;
    margin-left: 30px;
}

.paraisopolis {
    background-image:url(../../assets/imagens/paraisopolisfoto.png);
    background-size: cover;
}


.checks {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.atendimento {
    width: 50%;
    
}

.atendimento p {
    margin-bottom: 0px;
    font-size:12pt;
    font-weight: bold;
    color: #FF4D00;
}

.atendimento label {
    margin:15px;
    font-weight:small ;
}

.inferior {
    display:flex;
 
}

.azul  {
    justify-content: space-between;
    display: flex;
}

#alerta img {
    margin: 10px 0px 0px 0px;
}

#alertap {
    padding: 15px 0px 0px 10px;
}

#alertap p {
    margin: 0px 0px 0px 0px;
    color: white;
}

.pclaro {
    color:rgb(68, 68, 68);
    font-size: initial;
}

footer {
    border-radius: 0px 0px 15px 15px;
    background: #1CA8C9;
}

.cadserv {
    background: #FF4D00;
    color: white;
}

